@keyframes apare-nahui {
  0%{
    opacity: 0;
  transform: translateY(50px);
  filter: blur(5px);
  }
  100%{
    opacity: 1;
  transform: translateY(0px);
  filter: blur(0);
  }
}
@keyframes scrolling-header {
  to {
    transform: scaleX(1);
  }
}

.progress-line {
  height: 5px;
  background-color: lime;
  transform-origin: left;
  transform: scaleX(0.1);
  position: fixed;
  top: 0;
  width: 100%;
  animation: scrolling-header linear;
  animation-timing-function: linear;
  z-index: 100;
}


body {
  background-image: url("Daniel.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #1E1E1E;
  color: white;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  animation: apare-nahui 0.5s;
  height: 270vh;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  height: 85px;
  width: 90vw;
  align-self: center;
  max-width: 2400px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  padding-right: 10px;
}

.home {
  color: #f7444e;
}
.logo-image {
  height: 50px;
  padding-left: 10px;
}

main {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-self:center;
  width: 100vh;
  height: 700px;
}

.Danu{
  color: #E9B824;
}

.first-line {
  font-size: 50px;
  text-align: center;
}

.second-line {
  font-size: 18px;
  align-self: center;
}

.contact-button {
  background-color: #E9B824;
  border-style: none;
  border-radius: 10px;
  width: 171px;
  height: 59px;
  align-self: center;
  font-size: 18px;
  color: #f7f8f3;
  margin-top: 20px;
  transition: all 0.2s;
}
.contact-button:hover{
  transform: scale(1.1);
}
.contact-button-link{
  align-self: center;
  width: 171px;
  height: 59px;
}
.contact-image {
  height: 70px;
  width: 70px;
  transition: all 0.2s;
}
.contact-image:hover{
  transform: scale(1.1);
  cursor: pointer;
}
contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  width: 274px;
  align-self: center;
}
.about-image{
  height: 100px;
  width: 302px;
  margin-bottom: 10px;
}
.image-about{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
about{
  margin-top: 50px;
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  transform: scale(1.2);
}
about-advanced{
  display: flex;
  align-items:self-start;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 90px;
}
.pfp-image{
  height:465px;
  width: 542px;
  margin-right: 30px;
  margin-left: -20px;
  object-fit: contain;
}
.profesion{
  color: #E9B824;
}
about-text{
  margin-left: 10px;
  margin-top: -23px;
}
information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
information p{
  margin-top: 0;
  margin-bottom: 2px;
}
.donwload-cv-button{
  background-color: #E9B824;
  border-style: none;
  border-radius: 10px;
  width: 201px;
  height: 62px;
  transform: scale(0.8);
  font-family: sans-serif;
  font-size: 140%;
  font-weight:lighter;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(233, 184, 36, 0.7);
  transition: all 0.2s;
}
.donwload-cv-button:hover{
  transform: scale(0.9);
}
portofolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
/*.portofoliu-image {
  height: 100px;
  width: 494px;
  margin-top: 70px;
}
portofolio-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 25px;
  width: 70%;

}
.img1, .img2, .img3, .img4, .img5, .img6{
  border-radius: 10px;
background: #D9D9D9;
margin-left: 0;
margin-right: 0;
transition: all 0.2s;
}
.img1:hover, .img2:hover, .img3:hover, .img4:hover, .img5:hover, .img6:hover{
  transform: scale(1.05);
}
.img1{
  width: 350px;
height: 500px;
flex-shrink: 0;

}
.img2{
  width: 440px;
height: 212px;
flex-shrink: 0;

}
.img3{
  width: 350px;
height: 500px;
flex-shrink: 0;

}
.img4{
  width: 350px;
height: 388px;
flex-shrink: 0;
}
.img5{
  margin-top: -270px;
  width: 440px;
height: 663px;
flex-shrink: 0;
}
.img6{
  width: 350px;
height: 388px;
flex-shrink: 0;
}*/
.image-skill{
  display: flex;
  justify-content: center;
}
.skills-image{
  height: 100px;
  width: 437px;
  align-self: center;
}
skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills-details{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.line {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.html-line {
  width: 500px;
  margin-top: 0;
  height: 1.33px;
}

.skill-text {
  margin-bottom: 0;
}

.line-html p {
  width: 40%;
  display: block;
}

.html-line::after {
  width: 450px;
  content: "";
  height: 1.33px;
  position: absolute;
  background-color: #E9B824;
}
.figma-line::after{
  width: 350px;
}
.javascript-line::after{
  width: 400px;
}
.contacts-image{
  width: 405px;
  height: 100px;
  margin-top: 50px;
}
contacts-page {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.phone-icon, .gmail-icon, .github-icon2, .discord-icon2, .instagram-icon{
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}
.instagram-icon{
  width: 45px;
  margin-left: -2px;
}
.details-box p{
  margin-bottom: 28px;
  margin-left: 30px;
}
.details-box a{
  text-decoration: none;
  color: white;
}
.contacts-main-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}
.contacts-box{
  display: flex;
  flex-direction: column;
}
.contacts{
  display: flex;
  flex-direction: row;
  width: 150%;
}
.final-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer{
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 100px;
}

.hidden{
  opacity: 0;
  transform: translateY(50px);
  filter: blur(5px);
  transition: all 0.5s;
  position: static;
}
.header-wrapper.hidden {
  display: none;
  position: static !important; /* Override position to static */
}
.show{
  opacity: 1;
  transform: translateY(0px);
  filter: blur(0);
}
nav button{
  border-style: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  transition: all 0.15s;
}
nav button:hover{
  transform: scale(1.2);
  color: #E9B824;
}